{{yield}}
<div class="container margin-auto p-t-40 p-b-40 grid equal-columns__2 center md-text">
	<div>
		<div class="logo">
			<img src="/images/hubkbs.png" alt="" class="m-r-10 m-l-50 img-sm">
		</div>
	</div>
	<div class="menu">
		<ul>
			<li>
				<a href="https://www.hubkbs.com">Home</a>
			</li>
			<li>
				<a href="#">Blogs</a>
			</li>
		</ul>
	</div>
</div>