@import 'grid.css';
@import 'util.css';
@import 'sizes.css';
@import 'variables.css';
@import 'animation.css';
@import 'image-util.css';
@import 'header.css';
@import 'caption.css';
@import 'hero.css';
@import 'post-caption.css';
@import 'footer.css';
@import 'button.css';
@import 'actions.css';
@import 'pagination.css';
@import 'comment.css';
@import 'user-account.css';
@import 'dashboard.css';
@import 'create-post.css';
@import 'pell.css';

/* include custom fonts */
@font-face {
    font-family: "maisonNeueBold";
    src: url("../fonts/maisonneueweb-bold-webfont.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "maisonNeue";
    src: url("/fonts/maisonneueweb-book-webfont.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "maisonNeueMono";
    src: url("/fonts/maisonneueweb-mono.woff") format("woff");
  }
  
  @font-face {
    font-family: "helveticaNeue";
    src: url("../fonts/helvetica-neue-regular.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "AvenirNext";
    src: url("/fonts/AvenirNextLTPro-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "AvenirNextBold";
    src: url("/fonts/AvenirNextLTPro-Bold.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "AvenirNextPro";
    src: url("/fonts/AvenirNextLTPro-It.woff2") format("woff2");
  }
  
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext";
  font-size: 1rem;
  color: var(--dark);
}

h1 {
  font-size: 4.0rem;
  font-family: "maisonNeueBold";
}

h2 {
  font-family: "AvenirNext";
}

p {
  font-size: 1.30rem;
}

a {
  text-decoration: none;
  color: var(--dark)
}

.clickable {
  cursor: pointer;
}

.cta:hover {
  color: var( --btn-primary__color);
}

.cta:hover svg {
  fill:var( --btn-primary__color);
}

.inline {
  display: inline-flex;
  align-items: center;
  align-self: center;
}

.title h2 {
  font-size: 3.0rem;
  font-weight: 600;
}

.light-caption {
  color: var(--ap-lt-gray);
}

.light-caption * {
  color: var(--ap-lt-gray)
}

.brighten {
  opacity: 0.7;
}

.container {
  width: 65%;
  padding: 0 40px;
}

.container-small {
  width: 60%;
  margin: auto;
}

.container-very-small {
  width: 40%;
  margin: auto;
}

.container-very-small__left {
  width: 40%;
  /* margin: auto; */
}

.margin-auto {
  margin: auto;
}

.margin-l-r__center {
    margin: 0 auto;
}

.layout {
  min-height: 80vh;
  margin-bottom: 5vh;
}

.md-wrapper {
  width: 90%;
}


.col-60 {
  width: 60%;
  margin: auto;
}

.col-70 {
  width: 70%;
  margin: auto;
}

.bdr-btn {
  border-bottom: 1px solid #dae1e7;
}

.small-bdr {
  width: 140px;
  margin: auto;
  margin-bottom: 40px;
}

.md-text {
  font-size: 1.2rem
}

.rounded {
    border-radius: 5px;
}

.caption {
  font-size: 1.25rem;
  line-height: 1.5;
}

@media only screen and (max-width:768px){
  .container {
    width: 90%;
    margin: auto;
    padding: 0 10px;
  }

  .container-very-small {
    width: 96%;
    margin: auto;
  }
}


table tr .action {
  display: none;
}

table tr:hover {
  background: var(--ap-offwhite);
}

table tr:hover .action {
  display: block;
}