.btn {
    padding: 10px 20px;
}

.primary {
    background: var(--btn-primary__color);
    color: var(--white);
}

.rounded {
    border-radius: 5px;
}

.primary:hover {
    background: var(--btn-primary__color-light);
}

.btn:focus {
    outline: none;
}

.btn:disabled {
    background: transparent;
    color:rgba(0, 0, 0, 0.5);
    cursor:not-allowed
}
