footer {
    height: 100px;
    background: var(--dark);
    color: var(--white);
}

footer a {
    color: var(--white);
}

.footer-content {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    font-size: 1.0rem;
}