.pell {
    border: 1px solid rgba(10, 10, 10, 0.1);
    box-sizing: border-box; }
  
  .pell-content {
    box-sizing: border-box;
    border: 1px solid var(--ap-faint-gray);
    height: 300px;
    outline: 0;
    overflow-y: auto;
    padding: 10px; 
    width: 100%;
}
  
  .pell-actionbar {
      padding: 10px;
    background-color: var(--ap-sea-blue);
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);
    width: 100%; 
}
  
  .pell-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    outline: 0;
    width: 30px;
    vertical-align: bottom; 
    font-size: 14px;
}
  
  .pell-button-selected {
    background-color: #F0F0F0; }

 