.post-img {
    display: block;
    /* height: 256px; */
}

.post-content a:hover {
  color: var(--ap-black);
}

.post-caption {

}

.left {
    background: url('/images/broken.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    background: url('/images/ember-photo.jpeg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.post-content {
    width: 100%;
}

.blog-content {
  padding: 0 40px;
}

.blog-content p {
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
  .blog-content {
    padding: 0 15px;
  }
}