.form-wrapper {
    position: relative;
    width: 100%;
}

.user-form input {
    width: 94%;
    padding: 10px 10px;
    height: 45px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid #000;
    position: relative;
    z-index: 1;
}

.user-form input::before {
    content: "Enter your firstname";
    position: absolute;
    height: 80px;
    width: 200px;
    background: var(--app-red);
    color: green;
}

.user-form  input.field-error {
  border: 1px solid var(--app-red);
}

.user-form  input.field-success {
  border: 1px solid var(--app-green);
}
.input-error {
  list-style: none;
  color: var(--app-red);
  padding-inline-start: 15px;
}