<Layout @classes="container-very-small margin-auto"> 
    <div class="col-60 title p-t-50 bdr-btn">
        <h2 class="text-center">Investigating the effects of cyber crime</h2>
    </div>
    <div class="blog-image p-t-50">
        <img src="/images/cover.jpeg" alt="" class="img-fit">
    </div>
    <div class="blog-content p-t-50 p-b-50code">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil similique ea veritatis in minima dolorum reiciendis itaque molestias! Tempora inventore totam obcaecati laboriosam cumque sit eligendi iure ipsum aperiam dolorum?
        Minima dolor eum natus ratione consequuntur officia omnis, sapiente consectetur corporis repudiandae ut excepturi. Facere deleniti harum quam doloribus asperiores, fugit suscipit nihil modi quia iste tempora sunt vel totam.
        Magnam rem aliquam tempora dolores culpa. Tempora, vel similique reprehenderit fugit cum cupiditate! Itaque perspiciatis recusandae amet architecto! Beatae, totam. Et animi veniam cupiditate magni eaque ab veritatis reiciendis cumque.
        Repellendus voluptatem cum exercitationem explicabo nam maiores voluptatibus, quidem aliquam doloremque laudantium minima alias placeat consequuntur iste eligendi velit accusamus dolorem similique deleniti vitae. Doloremque fugiat inventore nemo quam vel.

        <h3>Going Forward</h3>
        <p>
        Delectus, dolores dolore, laudantium doloribus tenetur eaque quia ipsum ad corporis hic illum omnis! Iure excepturi molestias laudantium architecto consequatur delectus necessitatibus distinctio suscipit, ab unde sunt neque ut facere?
        Inventore, obcaecati itaque. Eos, ex ducimus? Enim eligendi illum quam provident nostrum. Aliquid mollitia provident odit natus, quas error corrupti nulla perferendis, autem dolorem velit ipsam excepturi repellendus ratione. Beatae?
        Praesentium aperiam optio quisquam tenetur iusto ipsa consequuntur quae laboriosam. Aliquam, et cupiditate amet consectetur quo commodi rem saepe assumenda maiores vel, soluta impedit deleniti, cumque aliquid reprehenderit repudiandae molestiae?
        </p>

        <h3>Safe Guarding the Future</h3>
        <p>
            Fugiat nesciunt vero maiores dolorum quidem recusandae placeat fuga, voluptate nostrum repudiandae culpa rerum doloribus eum, ratione nemo. Odit quo, eveniet dolorum tempora cum molestiae ex deserunt recusandae qui dolorem!
            Sapiente optio aperiam pariatur possimus, ratione nulla distinctio, fuga et nisi placeat tempore, quo sequi. Ipsum, quaerat cumque. Accusantium cupiditate hic delectus alias quia facilis temporibus rerum eveniet dolor dolore?
            Ducimus vitae tempore, ullam ad reiciendis nobis doloremque illum harum magni hic expedita blanditiis architecto quisquam perspiciatis labore explicabo repellendus nisi est, tempora magnam ipsam, consequuntur excepturi vero. Unde, maxime?
        </p>
    </div>
    <Actions />
</Layout>