<Layout>
		<div class="container margin-auto grid grid-center auto auto-columns__3">
				<div class="two">
						<a href="#">
								<img src="http://www.moneydigest.sg/wp-content/uploads/2017/01/WAtsons-BOGO.png" alt="" class="img-xxxl">
						</a>
				</div>
				<div class="one">
						<div class="form-wrapper">
								<h2>signin</h2>
								<form action="" class="user-form">
										{{input value=""  placeholder="email"}}
										{{input value="" placeholder="password" type="password"}}
										<button class="rounded btn primary" type="submit" {{action "signin"}}>Submit</button>
								</form>
								<h5>
										Don't have an account?
										<span> <a href="#">signup</a> </span>
								</h5>
						</div>
				</div>
		</div>
</Layout>