<div>
    {{#ui-dropdown class="selection m-b-40" onChange=(action (mut changeset.category))}}
        <div class="default text">{{heading}}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">
                -- sSelect an option --
            </div>
            {{#each options as |op|}}
                <div data-value="{{op.dataValue}}" class="item">
                  {{op.name}}
                </div>
            {{/each}}
        </div>
    {{/ui-dropdown}}
</div>
