
<footer>
    <div class="container">
        <div class="footer-content">
            <p>Designed and maintained by webmaster @ Hub KB.S 2019</p>
            <a href="http://www.hubkbs.com" class="m-l-40">Home</a>
        </div>
    </div>
</footer>