
<footer>
    <div class="container">
        <div class="footer-content">
            <p>Designed and maintained by webmaster @ Hub KB.S 2019
                <span> <a href="http://www.hubkbs.com" class="m-l-40">Home</a></span>
            </p>
        </div>
    </div>
</footer>