<div class="post-caption">
    <a href="posts/{{post.id }}" class="post-img p-all-30">
        <img src={{post.image}} alt="" class="rounded">
        <h2 class="brighten"> {{post.title}} </h2>
    </a>
    <div class="caption brighten">
        By: James Rooker
    </div>
    <div class="post-content md-wrapper brighten">
        <p>
            {{{ post.postCaption }}}
        </p>
    </div>
</div>
