<div class="margin-auto container">
		<div class="margin-l-r__center container grid">
			<div class="form-wrapper p-t-100">
						<h2 class="p-b-30 p-t-30">Create New Blog Post</h2>
					<form>
							<div class="ui input">
									<FormFields::Input
											@value={{title}}
											@placeholder="What is the title of the post"
											@onChange={{action (mut title)}}
											@classNames="ui input"
									/>
							</div>
							<div class="ui input input-block">
										<label for="image">Please select an image for the post</label>
										<FormFields::File />
							</div>
							<FormFields::Dropdown @heading="Category"/>
							<div class="m-t-50">
									{{pell-editor value=body onChange=(action (mut body)) pellOptions=options}}
							</div>
							<button class="rounded btn primary m-t-40" {{action "createPost"}}>Create Post</button>
					</form>
			</div>
		</div>
</div>