<Layout
  @hasHeader={{false}}
>
  <div class="container margin-auto grid grid-center auto auto-columns__3 grid-gap__10">
    <div class="two">
      <a href="http://www.hubkbs.com/covers/" target="_blank">
        <img src="images/lap-covers.jpg" alt="" class="img-fit">
      </a>
    </div>
    <div class="one">
      <div class="form-wrapper">
        <h2>Login</h2>
        <form action="" class="user-form">
          {{input value=email  placeholder="email" id="email"}}
          {{input value=password placeholder="password" type="password" id="password"}}
          <button class="rounded btn primary" type="submit" {{action "authenticate"}}>Submit</button>
        </form>
        <h5>
          Don't have an account?
          {{#link-to "signup"}}
            signup
          {{/link-to}}
        </h5>
      </div>
    </div>
  </div>
</Layout>