{{#link-to link}}
  <div class="dashboard-item__wrapper" role="button">
    <div class="dashboard-item" role="button">
        <div class="caption">{{name}}</div>
    </div>
    <div class="dashboard-action">{{svg-jar "add" width="20px"}} </div>
</div>
{{/link-to}}