<div class="hamburger-wrapper" id="hamburger">
  <div class="hamburger">
    <div id="media-mob">
      <div id="burger-top"></div>
      <div id="burger-mid"></div>
      <div id="burger-down"></div>
    </div>
  </div>
</div>